<h2>2004 Olympic Gymnastics</h2>
<p>This was the first Olympics to introduce the 'two-per-country' rule, whereby only 2 gymnasts per country could be allowed into any finals. This was triggered by Romania winning the gold, silver and bronze at the 2000 Olympics, but was also an attempt to see more diversity of countries represented in the final.

<br><br>
One of my favourite routines from this Olympics is Kyle Shewfelt of Canada's floor routine, which won the gold event medal. You can watch it <a href="https://www.youtube.com/watch?v=otSbT492gLI">here</a>.<br><br>

Carly Patterson of the USA won the women's all-around gold medal.<br><img src="http://www.dallasnews.com/incoming/20120821-carly78.jpg.ece/BINARY/original/CARLY78.JPG" width="200">