<h2>2012 Olympic Gymnastics</h2>
<p>In 2008, the women's all-around title was a close battle between Nastia Liukin and Shawn Johnson, both from the USA. Nastia won the all-around in her famous pink leotard, but Shawn got some redemption winning the balance beam event final gold.<br><br>
<img src="https://usagym.org/images/post_images/73.jpg"><br><br>
Hosted in Beijing, the Chinese teams had a great competition, winning both the men's and women's team medals. 