<h2>2012 Olympic Gymnastics</h2>
Great Britain's men's team won their first team medal in 100 years, coming third.<br>
<img src="http://i.telegraph.co.uk/multimedia/archive/02293/team-gb_2293873b.jpg" width="400">
<p><img src="http://espn.go.com/photo/2012/0802/oly_g_douglas_b1_300.jpg" height="300">  
<img src="http://gymnasticszone.com/wp-content/uploads/Kohei-Uchimura.jpg" height="300"><br>
The women's all-around gold medallist was Gabby Douglas of the USA.<br><br>
The men's all-around gold medallist was Kohei Uchimura of Japan.<br>