<h1>Olympic Gymnastics Facts</h1><p>Welcome! Choose a year to see some facts about the Olympic artistic gymnastics competition for that year :)</p>

<form action='/search' method='get'>
<input type="radio" name="year" value="2000">2000<br>
<input type="radio" name="year" value="2004">2004<br>
<input type="radio" name="year" value="2008">2008<br>
<input type="radio" name="year" value="2012">2012<br>
<button>Give me some facts!</button>
</form>